/* tailwind import */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* google fonts */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

/* css */
* {
	transition: 0.1s ease;
}

body {
	margin: 0;
	font-family: "Inter", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
